/* ////////////////////////// responsive css here //////////////////////////////////////////// */

@media only screen and (max-width: 1024px){
    html{
        font-size: 50%;
    }
    #section-one{
        /* flex-direction: column; */
     /* overflow:hidden; */
     /* height: 60rem; */
    }
    #section-one #rightbox img{
      /* width: 30rem; */
      /* height: 28rem; */
    }

    #section-one #leftbox {
       /* align-items: center; */
        /* justify-content:center; */
      }
      #section-one #leftbox p{
        min-width: 30rem;
      }
}



@media only screen and (max-width: 769px){
  html{
      font-size: 40%;
  }
  #section-one{
      flex-direction: column;
   overflow:hidden;
   
  }
  #section-one #leftbox {
     /* align-items: center; */
      /* justify-content:center; */
    }
    #section-one #leftbox p{
      /* min-width: 30rem; */
    }
}