/* @import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@100;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Allerta", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  /* font-size: 62.5%; */
  scroll-behavior: smooth;


}
html {
  scroll-snap-type: y mandatory;
  

}

:root {
  --mainColor: linear-gradient(
    164deg,
    rgba(147, 244, 222, 1) 0%,
    rgba(196, 230, 120, 1) 93%
  );
  --mainColordark: #118868;
  --secondaryColor: #10537a;
  --textColor: #eee;

  --HoverColor: rgb(216, 164, 51);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.6rem;
  padding: 0 10rem;
  z-index: 99;

  font-size: 1.5rem;
  position: fixed;

  top: 0;
  width: 100%
}

#logodiv a img{

height: 3.5rem;

}
nav a {
  margin: 0 1rem;
  font-weight: 300;
  color: var(--textColor);
  text-decoration: none;
  color: var(--secondaryColor);


  font-weight: bold;
}

nav a:hover {
  color: rgb(216, 164, 51);
  transition: 0.3s;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;


}

header nav {
  display: flex;
  align-items: center;


}

@media only screen and (max-width: 769px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;


  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);

    

    transition: 0.7s;
  }

  header .responsive_nav {
    font-size: 25rem;
    /* transform: translateY(100vh); */
    top:0;



    opacity: 1;
    background-color: var(--mainColordark);
 
  }

  nav .nav-close-btn {
    position: absolute;


    top: 2rem;

    right: 16rem;
  }


  .responsive_nav a {


    font-size: 12rem;
    color: rgb(255, 255, 255);
  }
  nav a {
    font-size: 1.5rem;


  }
}

@media only screen and (max-width: 481px) {
  .responsive_nav a {
    font-size: 20rem;
    color: rgb(255, 255, 255);
  }
}

/* //////////////////////////////////////// HOME /////////////////////////////////////////////////////// */

/* --------------------------------   section 1 css here -----------------      */
#section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
    padding: 0 10rem;
}
/* ------------------------------------  home leftside css here ----------------------------------*/
#leftbox {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#section-one #leftbox h1 {
  font-size: 4.5rem;

  color: white;

  line-height: 2.9rem;

  width: 50rem;

  justify-content: flex-start;
}
#section-one #leftbox h3 {
  font-size: 1.7rem;
  /* font-style: normal; */
  font-weight: 500;

  color: var(--mainColordark);
}
#section-one #leftbox p {
  font-size: .9rem;

  font-weight: 400;
}

#section-one #leftbox button a{

  text-decoration:none;
  color: white;
}
#section-one #leftbox button {

  color:white;
  outline: none;
  border: none;
  padding: 0.1rem 1rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--mainColordark);

  color: var(--textColor);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#section-one #leftbox button:hover {
  background-color: var(--HoverColor);
}
#section-one::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 65rem;
  z-index: -1;

  background: linear-gradient(
    164deg,
    rgba(147, 244, 222, 1) 0%,
    rgba(196, 230, 120, 1) 93%
  );
  top: 0;
  left: 0;
}
header nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(240, 240, 240);
  opacity: 0.1;
  top: 0;
  left: 0;
}

/*   --------------------------------        home right side css here  ----------        */
#section-one #rightbox img {
  width: 39rem;
  height: 35rem;
}
#section-one #rightbox {
  width: 50%;
  display: flex;
  justify-content: center;
}



/* /////////////////////////////////////////// ABOUT ///////////////////////////////////////////////////// */
.about-sec {
  overflow: hidden;
}

.about-div {
  justify-content: center;
  padding: "0 16rem";
}
#section-2 {
  padding: 2rem 0;
}

#section-2 .img-dev {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#section-2 .img-dev img {
  margin-right: 2rem;
}
#section-2 .text-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* /////////////////////////////////////////// services ///////////////////////////////////////////////////// */

#section-3 #services-heading ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-3 #services-heading li {
  list-style: none;
  padding: 2rem 5rem;

  font-size: 3rem;
}
#section-3 {
  padding: 2rem 14rem;
  background-color: #f8f6f6;
}
.services-heading2 h1 {
  text-align: center;
  line-height: 5rem;
  padding: 2rem 0rem;
  color: var(--mainColordark);
  text-transform: capitalize;
  font-weight: 1000;
  margin-left: 5rem;
  width: 90rem;
  line-height: 6rem;
  margin: auto;
}

/* ------------------------------------- secion 3 serivce bos css---------------------- */
.services-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  grid-gap: 2rem;

  margin-bottom: 1.4rem;
}
#section-3 .services-box P {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 3rem;
}
#section-3 .services-box h2 {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 2rem;
}
#section-3 .services-box #photoshop {
  background-color: #e6de7b;

  border-radius: 2rem;
}

#section-3 img {
  width: 20rem;
  height: 20rem;
  padding: 2rem;
  margin: auto;
  display: inherit;
}

#section-3 .boxes:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.3s;
}
.web {
  background: rgba(196, 230, 120, 1);

  border-radius: 2rem;
}

.web img:hover {
  transition: 0.5s;
  transform: rotate(360deg);
}

#section-3 .services-box #graphic img:hover {
  transition: 0.5s;
  transform: rotate(360deg);
}
#section-3 .services-box #graphic {
  background: rgba(147, 244, 222, 1);

  border-radius: 2rem;
}

#section-3 .services-box #photoshop img:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}

/* ////////////////////////////////// protfolio ////////////////////////////////// */

 #portfolio .services-box .main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: -2; */
}

#portfolio .services-box .main img {
  padding: 0 0.7rem;
  width: 100%;
  height: 100%;
}

#portfolio .services-box .prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--mainColordark);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: 0.3s;
  color: #eee;
}

#portfolio .services-box .main:hover .prev {
  opacity: 0.8;
  transform: translateY(0);
}

/* //////////////////////////////////////////////// CONTACT ///////////////////////////////////////////////// */

.div-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-all {
  display: inline-block;
  margin: auto;

  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.7s;
  background-color: var(--mainColordark);
  color: var(--textColor);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.btn-all:hover {
  background-color: #012c21;
}

#contact {
  padding: 2rem 14rem;
  background-color: #f8f6f6;
}

/* ////////////////////////////////////////////footer ////////////////////////////////////////// */

#footer {
  background: var(--mainColor);
}

.img-sz {
  width: 4.1rem;
  height: 4rem;
}

.img-sz:hover {
  /* position: relative; */
  /* top: 0.7rem; */
}

.foter-nav-effec {
}

.foter-nav-effect:hover {
  /* position: relative; */
  /* left: 0.3rem; */
}

.section-heading {
  display: flex;
  padding: 0 16rem;
  justify-content: center;
  align-items: center;
}
.section-heading ul {
  gap: 8rem;
  font-size: 5rem;
  display: flex;
  text-decoration: none;
  list-style: none;
  margin: 2rem 0;
}

/* ////////////////////////////////////////////footer ////////////////////////////////////////// */

/* ////////////////////////// responsive css here //////////////////////////////////////////// */

@media only screen and (max-width: 1024px) {
  html {
    font-size: 42%;
  }

  #section-one #rightbox img {
    max-width: 45rem;
    max-height: 52rem;
  }
  #section-one::before {
    height: 60rem;
  }

  #section-one #leftbox p {
    min-width: 30rem;
  }
  #section-2 .text-div {
    /* margin-left: 2rem; */
    padding-right: 3rem;
  }
  #section-2 .img-dev {
  }
  #section-2 .img-dev img {
    max-width: 30rem;
    max-height: 49rem;
  }
}

@media only screen and (max-width: 769px) {
  html {
    font-size: 28%;
  }
  #section-one {
    /* padding: 0rem; */
    /* width: 100%; */
  }

  #section-one::before {
    height: 56rem;
  }
  .quick-link {
    margin-top: 3rem;
  }
  #leftbox {
    /* padding: 0; */
    /* width: 100vw; */
    /* margin: auto; */
  }
  #section-one #leftbox h1 {
    /* font-size: 10rem; */
  }
  #section-one #leftbox h3 {
  }
  #section-one #leftbox p {
  }
  #section-one #rightbox img {
    max-width: 45rem;
    max-height: 48rem;
  }
  #section-2 .img-dev img {
    max-width: 49rem;
    max-height: fit-content;
  }
  #section-2 .img-dev {
    justify-content: center;
  }
  #section-2 .text-div {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 0 20rem;
    padding-top: 5rem;
  }

  #section-3 .services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #section-one {
    /* flex-direction: column; */
    overflow: hidden;
  }
  .about-sec {
    /* padding: 0rem; */
  }

  .services-box div img {
    width: 40rem;
    height: 40rem;
  }
}

@media only screen and (max-width: 481px) {
  html {
    font-size: 15%;
  }

  #section-one {
    flex-direction: column;
    flex-wrap: wrap;
  }
  #section-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 16rem;
  }
  #section-one #rightbox {
    /* overflow: hidden; */
  }
  .services-box {
    display: flex;
    flex-direction: column;
  }
  #portfolio .services-box img {
    min-width: 90rem;
    min-height: 50rem;
    padding: 0 2rem;
  }
  #section-one::before {
    height: 75rem;
  }
}

#Pno:focus:invalid {
  border-color: red;
}

input:invalid {
  border: 1px solid rgb(219, 3, 3);
  /* background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% ;
  background-size: 25px; */
}
input:valid {
  border: 1px solid rgb(100, 219, 3);
  /* background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50%;
  background-size: 25px; */
}
